@import "tailwindcss";

@theme {
  --color-primary: #c70036;
  --color-primary-dark: #ff2056;
  --color-secondary: #ffa1ad;
  --color-light: #fafafa;
  --color-dark: #18181b;
}
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    font-family: "Poppins", sans-serif;
  }
}
